<a href="/game/{{ game.id }}" class="flex-1">
	<div
		class="p-4 w-full h-full shadow-md border border-gray-200/50 hover:-translate-y-2 transition-all duration-200 ease-in-out flex flex-col flex-1"
	>
		<a class="block relative h-48 rounded overflow-hidden">
			<img
				alt="ecommerce"
				class="object-cover object-center w-full h-full block"
				src="https://dummyimage.com/420x260"
			/>
		</a>
		<div class="mt-4 flex flex-col flex-1">
			<h2 class="text-gray-900 title-font text-lg font-medium flex-1">{{ game.name }}</h2>
			<p class="mt-1">$16.00</p>
		</div>
	</div>
</a>
